<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <table cellspacing="3" bgcolor="#000000">
            <tr bgcolor="#ffffff">
                <td>This</td>
                <td>Is</td>
                <td>A</td>
                <td>Row</td>
                <td>With</td>
                <td>Data</td>
            </tr>
        </table>
    </body>
</html>